notebook
roboflow
pycocotools
pandas==2.2.2
numpy==1.26.4
opencv-python==4.11.0.86
torch==2.6.0+cu124
torchvision==0.21.0+cu124
matplotlib==3.9.0
tqdm==4.66.4
scikit-learn==1.5.2
albumentations==2.0.2
seaborn==0.13.2
torchmetrics==1.6.1
torch-summary==1.4.5
grad_cam==1.5.4
